@import "layout/header";
@import "layout/footer";
@import "utils/variable";

header{
    
    input{
        color:$black;
        background: $light-grey;
        
    }
}
::placeholder{
    color: $black;

}