@import "../utils/variable";

footer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: $grey;
    color: white;
    padding: 5px 20px 20px 25px;
        
        h2 {
        font-size: 15px;
        font-family:'Shrikhand', serif;
        
    }
    
    p {
        display: flex;
        margin: 5px 5px 5px 0;
    }

    .icon-cutlery{

        margin-right: 15px;
        
    }

    .icon-hands{
        margin-right: 10px;
    }

    
}