@import "../utils/variable";

body {
    margin: 0;
}

header{
    
    
    .fa-solid{
        color:$grey;
    }
    input{
        color:$black;
        background: $light-grey;
        
        
    }
}

.header-home{
display: flex;
flex-wrap: wrap;
justify-content:center;
flex-direction: column;


    img{ 
        padding: 15px;
        height: 25px;
        object-fit: contain;
    } 
   
    
} 
form{ display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    input{
       display: flex;
        border: none;
        height: 40px;
        box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset;
            
        &[type=text]    {
                flex-grow: 2;
                text-align: center;
                
                }
            }
    label{
        position: absolute;
        margin-left: -130px;
    }        
}