body {
  margin: 0;
}

.header-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.header-home img {
  padding: 15px;
  height: 25px;
  object-fit: contain;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  display: flex;
  border: none;
  height: 40px;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.45) inset;
}
form input[type=text] {
  flex-grow: 2;
  text-align: center;
}
form label {
  position: absolute;
  margin-left: -130px;
}

.loader {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 3px;
  height: 3px;
}
.loader-bar {
  background-color: #101010;
  height: 100%;
  width: 3px;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F6F6F6;
  padding-bottom: 30px;
}
.menu h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.menu h4 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: auto;
  padding: 10px;
}

.fonction-main {
  margin-left: 10px;
}

.fonction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  gap: 15px;
  background: white;
}

.restaurants {
  padding: 15px 15px 50px 15px;
  background-color: #F6F6F6;
}
.restaurants .home-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #353535;
  color: white;
  padding: 5px 20px 20px 25px;
}
footer h2 {
  font-size: 15px;
  font-family: "Shrikhand", serif;
}
footer p {
  display: flex;
  margin: 5px 5px 5px 0;
}
footer .icon-cutlery {
  margin-right: 15px;
}
footer .icon-hands {
  margin-right: 10px;
}

.btn {
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 12px;
  box-shadow: 0px 5px 11px 0px rgba(44, 43, 43, 0.384);
  cursor: pointer;
  transition: opacity 400ms;
}
.btn:hover {
  opacity: 0.5;
}

.btn-fonc {
  display: flex;
  font-weight: 500;
  border-radius: 20px;
  padding: 25px 0px 25px 30px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #F6F6F6;
  gap: 20px;
  align-items: center;
  width: 90%;
}
.btn-fonc .fa-solid {
  cursor: pointer;
  color: #7E7E7E;
}
.btn-fonc .fa-solid:hover {
  color: #9356DC;
}

.rounded-purple {
  margin-left: -40px;
  border-radius: 30px;
  padding: 7px;
  background-color: #9356DC;
  line-height: 10px;
  color: white;
  font-size: 15px;
}

.btn-menu {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 12px;
  box-shadow: 0px 5px 11px 0px rgba(44, 43, 43, 0.384);
  flex-grow: 1;
  cursor: pointer;
  transition: opacity 400ms;
}
.btn-menu:hover {
  opacity: 0.5;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  box-sizing: border-box;
}
.card img {
  display: flex;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 190px;
  object-fit: cover;
  align-items: first baseline;
}
.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-txt {
  margin-left: 15px;
}
.card-txt h3 {
  margin-bottom: 5px;
}
.card-txt p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
}
.card-icon {
  display: flex;
  font-size: 30px;
  margin-right: 40px;
  align-self: center;
  font-weight: 300;
  cursor: pointer;
}
.card .fa-solid {
  opacity: 0;
  position: absolute;
  color: #9356DC;
  background-clip: text;
  transition: opacity 700ms;
}
.card .fa-solid:hover {
  opacity: 1;
}

.card-menu {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  left: -2000px;
  animation: slidecard 2000ms 0s ease-out forwards;
}
.card-menu h3 {
  font-weight: 500;
}

@keyframes slidecard {
  0% {
    transform: translateX(-999px);
  }
  100% {
    transform: translateX(0px);
    left: 0;
  }
}
.card-slow {
  animation-delay: 200ms;
}

.card-veryslow {
  animation-delay: 400ms;
}

.card-reallyslow {
  animation-delay: 500ms;
}

.card-normal--plat {
  animation-delay: 600ms;
}

.card-slow--plat {
  animation-delay: 800ms;
}

.card-veryslow--plat {
  animation-delay: 1000ms;
}

.card-normal--dessert {
  animation-delay: 1200ms;
}

.card-slow--dessert {
  animation-delay: 1400ms;
}

.card-veryslow--dessert {
  animation-delay: 1600ms;
}

.price-checkmark {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.price-checkmark:hover .checkmark {
  width: 100%;
}

.price {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 20px 15px 12px 20px;
  font-weight: 600;
  color: #353535;
}

.checkmark {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 0%;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: all 1000ms ease-out;
}
.checkmark .fa-regular {
  animation: circle 1000ms 100ms ease-out;
  font-size: 35px;
}

@keyframes circle {
  from {
    transform: rotateX(190px);
  }
  to {
    transform: rotateX(0px);
  }
}
.badge {
  right: 0;
  position: absolute;
  background-color: #99E2D0;
  margin-right: 15px;
  margin-top: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  font-size: 15px;
  color: #008766;
}

.all-menu {
  display: flex;
  justify-content: center;
}

.header-menu .header-icon {
  display: flex;
  justify-content: center;
  font-size: 25px;
  position: relative;
  width: 80px;
  padding-bottom: 6px;
}
.header-menu .header-logo {
  margin: 0 auto;
  position: relative;
  width: 240px;
}
.header-menu img {
  padding: 15px;
  height: 25px;
  object-fit: contain;
}
.header-menu .header-photo img {
  padding: 0;
  width: 100%;
  height: 240px;
  object-fit: cover;
  position: relative;
}

.header-icon-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -45px;
  width: 100%;
}

.menu-section {
  padding: 15px;
  transform-origin: top;
}
.menu-section h1 {
  display: flex;
  justify-content: left;
  font-weight: 400;
  font-family: "Shrikhand";
  margin: 0;
}

.title-page {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.title-page .fa-regular {
  margin-left: 15px;
  font-size: x-large;
}
.title-page .fa-solid {
  font-size: x-large;
  opacity: 0;
  position: relative;
  left: -24px;
  color: #9356DC;
  transition: opacity 700ms;
}
.title-page .fa-solid:hover {
  opacity: 1;
}

.starter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: menu 2000ms 0 ease-in-out backwards;
}
.starter h4 {
  border-bottom: #99E2D0 solid 2px;
  width: 40px;
  font-weight: 300;
  padding-bottom: 4px;
}
.starter h3 {
  margin-top: 11px;
}
.starter p {
  margin-bottom: 12px;
}

@keyframes menu {
  0% {
    transform: translateX(-999px);
  }
  100% {
    transform: translateX(0);
  }
}
.section__btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px 45px 15px 45px;
}

@media (min-width: 767.98px) {
  .fonction {
    flex-direction: row;
  }
  .fonction .btn-fonc {
    width: 28%;
  }
  .restaurants .home-cards {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .restaurants .home-cards a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 47%;
  }
  footer {
    padding-top: 50px;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  footer h2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer .footer-home {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .fonction-main {
    display: flex;
    flex-direction: column;
    padding: 10px 90px 25px 90px;
  }
  .fonction-main h1 {
    margin-left: 15px;
  }
  .fonction {
    justify-content: space-between;
  }
  .restaurants {
    padding: 30px 110px 50px 110px;
  }
  .restaurants .home-cards {
    gap: 45px;
  }
  .restaurants a {
    max-width: 48%;
  }
}
@media (min-width: 767.98px) {
  .main-menu {
    width: 50%;
    padding: 25px 120px 25px 120px;
  }
  .main-menu .title-page {
    justify-content: center;
  }
  .btn-menu {
    flex-grow: 0;
    padding: 15px 35px 15px 35px;
  }
}
body {
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: #101010;
}

header .fa-solid {
  color: #353535;
}
header input {
  color: #101010;
  background: #EAEAEA;
}

::placeholder {
  color: #101010;
}

/*# sourceMappingURL=style.css.map */
