@media (min-width:767.98px){



.main-menu{
    width: 50%;
    padding: 25px 120px 25px 120px;

    .title-page{
        justify-content: center;
    }
}    

.btn-menu{
    flex-grow: 0;
    padding: 15px 35px 15px 35px;
}
}