@import "../utils/variable";

.loader{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 3px;
    height: 3px;
    
        &-bar{
            background-color: $black;
            height: 100%;
            width: 3px;
        }
}
.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:$light-grey-2;
    padding-bottom: 30px;

    h1{
        font-size: 1.5rem;
        font-weight: 700;
        


    }
    h4{
        font-size: 1rem;
        font-weight: 300;
        margin-top: auto;
        padding:10px;
    }
}

.fonction-main{
    margin-left: 10px;
}
.fonction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    gap: 15px;
    background: white;

}

.restaurants{
    
    padding: 15px 15px 50px 15px;
    background-color: $light-grey-2;
    
    .home-cards{
        display: flex;
        flex-direction: column;
        gap: 20px
        ;
    }
}
