$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$grey:#353535;
$grey-2:#7E7E7E;
$light-grey:#EAEAEA;
$light-grey-2:#F6F6F6;
$black:#101010;
$light-green:#99E2D0;
$green:#008766;
$button-gradient:($secondary,$primary)